.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 100vh;

  .dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem;
    height: 100vh;

    .sidebar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 18rem;
      border-right: 1px solid #e6e6e6;

      .items {
        display: flex;
        flex-direction: column;
        padding: 10px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
